@charset "UTF-8";
/* CSS Document */
body, button, select, textarea, input, label, option, fieldset, legend {
  font-family: 微软雅黑E\8F6F\96C5\9ED1,Tahoma,Verdana;
  font-size: 12px;
  line-height: 18px;
  color: #444; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

textarea {
  resize: none; }

html {
  font-size: 62.5%;
  /**10 ÷ 16 × 100% = 62.5%    1rem = 10px   **/ }

body {
  background-color: #f6f6f6; }

.clear {
  height: 1px;
  overflow: hidden;
  clear: both; }

a, img {
  border: 0; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #0053a6; }

li {
  list-style-type: none; }

.fl {
  float: left; }

.fr {
  float: right; }

.nf {
  clear: both; }

.red {
  color: red;
  font-weight: bold; }

.green {
  color: #00b500;
  font-weight: bold; }

.ds {
  display: block; }

.hid {
  overflow: hidden; }

.clearfix {
  *zoom: 1; }

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
  font-size: 0; }

.jianbian, #nav .navlist {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #eee));
  background: -webkit-linear-gradient(top, #f4f4f4 0, #eee 100%);
  background: linear-gradient(to bottom, #f4f4f4 0, #eee 100%); }

.bottomshadow, #nav .navlist {
  border-bottom: solid 1px #B3B3B3;
  -webkit-box-shadow: 0 1px 1px 0 #DFDFDF;
  box-shadow: 0 1px 1px 0 #DFDFDF; }

#nav {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  background: #fafafa; }
  #nav .navlist {
    position: relative;
    height: 50px; }
    #nav .navlist li {
      float: left;
      margin: 0;
      height: 50px;
      width: 25%; }
      #nav .navlist li a {
        width: 100%;
        display: inline-block;
        height: 50px;
        border-right: 1px solid #EAEAEA;
        text-align: center; }
        #nav .navlist li a span {
          display: inline-block;
          width: 50px;
          height: 50px;
          background: url(../images/icon/icon.png) no-repeat 0 -46px;
          background-size: 214px auto; }
        #nav .navlist li a .active {
          background-position: 0 0; }
    #nav .navlist #n_3 a {
      border-right: none; }
      #nav .navlist #n_3 a span {
        background-position: -101px -46px; }
      #nav .navlist #n_3 a .active {
        background-position: -101px 0; }
    #nav .navlist #n_2 a span {
      background-position: -161px -46px; }
    #nav .navlist #n_2 a .active {
      background-position: -161px 0; }
    #nav .navlist #n_1 a span {
      background-position: -51px -46px; }
    #nav .navlist #n_1 a .active {
      background-position: -51px 0; }

.indexslider {
  width: 100%;
  height: 200px;
  color: white;
  font-size: 12px;
  margin-bottom: -45px; }
  .indexslider .swiper-slide {
    position: relative; }
    .indexslider .swiper-slide img {
      width: 100%;
      height: 200px; }
    .indexslider .swiper-slide .topzhezhap {
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: #000000;
      opacity: 0.8;
      height: 45px; }
      .indexslider .swiper-slide .topzhezhap p {
        width: 200px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 5px; }
        .indexslider .swiper-slide .topzhezhap p span {
          color: #15bd10; }
      .indexslider .swiper-slide .topzhezhap p:last-child {
        margin-top: -3px; }
      .indexslider .swiper-slide .topzhezhap a {
        position: absolute;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        right: 10px;
        top: 7px;
        text-align: center;
        line-height: 30px;
        background-color: #15bd10;
        color: white;
        font-size: 18px; }

.productul {
  width: 99%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 45px;
  left: 0; }
  .productul ul {
    width: 100%; }
  .productul li:first-child {
    margin-top: 24px; }
  .productul li {
    margin: 10px;
    min-height: 125px;
    overflow: hidden;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px  #ccc;
    box-shadow: 0 0 5px #ccc; }
  .productul a {
    display: block;
    overflow: hidden;
    position: relative; }
    .productul a .triangle-topleft {
      width: 0;
      height: 0;
      border: 30px solid #1aa818;
      border-right-color: transparent;
      border-bottom-color: transparent;
      z-index: 990;
      cursor: pointer;
      position: absolute; }
    .productul a .rexiao {
      border: 30px solid red;
      border-right-color: transparent;
      border-bottom-color: transparent; }
    .productul a .xiangou {
      border: 30px solid orange;
      border-right-color: transparent;
      border-bottom-color: transparent; }
    .productul a .shuxing {
      display: block;
      font-size: 14px;
      color: white;
      position: relative;
      top: 3px;
      left: 8px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 40px;
      height: 40px;
      z-index: 1000;
      position: absolute; }
    .productul a .leftimage {
      width: 100px;
      height: 100px;
      display: inline-block; }
      .productul a .leftimage canvas {
        width: 100px;
        min-height: 100px;
        background: #fff url("../images/loading.gif") center center no-repeat;
        background-size: 15px auto; }
    .productul a .productcontent {
      width: 64px;
      width: calc(100% - 100px);
      float: right;
      height: 100px;
      margin-top: 20px;
      position: relative;
      padding-left: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .productul a .productcontent p {
        overflow: hidden;
        text-overflow: ellipsis; }
      .productul a .productcontent .ptitle {
        font-size: 18px;
        font-weight: bold;
        font-family: "Macrosoft YaHei"; }
      .productul a .productcontent .pdes {
        font-size: 13px;
        color: #999;
        margin-top: 5px; }
      .productul a .productcontent .pprice {
        margin-top: 10px;
        font-size: 14px;
        color: #4a4a4a; }

/*

<section class="recommendcontent">
    <ul>
        <li class="setyuanjiao">
            <a class="leftimages fl mt15"><img src="images/product/product1.png" /></a>
            <a  class="productcontent fl mt15">
                <p class="ptitle pl10">广联达变更算量</p>
                <p class="pdes pl10">简介这里简介这里简介这里简介这里简介这里简介这里简介这里简介介这里简介</p>
                <p class="pprice pl10">价格：<span class="green">￥5000</span></p>
            </a>
        </li>
        <li class="buynumsli">
            <div class="buylabel">购买数量：</div>
            <div class="buynuminput">
                <div class="reduce"  ></div>
                <input type="number"  class="itnums" name="qty_item_1"  value="1"   />
                <div class="add" ></div>
            </div>
        </li>
    </ul>

    <div class="decorations">
        <div class="dtitle">详细说明</div>
        <p>详细说明详细说明详细说明详细说明详细说明详细说明详细说明详细说明详细说明详细说明详细说明详细说明详细说明</p>
        <img src="images/product/product1.png" />

    </div>

</section>
*/
.recommendcontent {
  width: 99%;
  margin: 6rem auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 1rem; }
  .recommendcontent ul {
    width: 100%;
    height: 18rem; }
    .recommendcontent ul .setyuanjiao {
      background-color: #ffffff;
      width: 100%;
      height: 13rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      -webkit-box-shadow: 0 0 1rem #ccc;
      -moz-box-shadow: 0 0 1rem #ccc;
      box-shadow: 0 0 0.5rem #ccc;
      border: 1px solid #f2f2f2; }
      .recommendcontent ul .setyuanjiao a {
        float: left; }
      .recommendcontent ul .setyuanjiao .leftimages {
        width: 30%;
        margin-top: 1rem; }
        .recommendcontent ul .setyuanjiao .leftimages img {
          width: 8rem;
          height: auto; }
      .recommendcontent ul .setyuanjiao .productcontent {
        width: 58%;
        margin-top: 1rem; }
        .recommendcontent ul .setyuanjiao .productcontent .ptitle {
          font-size: 1.6rem;
          color: #4a534e;
          font-weight: bold;
          display: block;
          font-family: "Microsoft YaHei"; }
        .recommendcontent ul .setyuanjiao .productcontent .pdes {
          font-size: 1.3rem;
          color: #999;
          margin-top: 0.5rem;
          display: block; }
        .recommendcontent ul .setyuanjiao .productcontent .pprice {
          margin-top: 1rem;
          font-size: 1.4rem;
          color: #4a4a4a; }
    .recommendcontent ul .buynumsli {
      border: 1px solid #f2f2f2;
      width: 100%;
      height: 4rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 1rem #ccc;
      -moz-box-shadow: 0 0 1rem #ccc;
      box-shadow: 0 0 0.5rem #ccc; }
      .recommendcontent ul .buynumsli .buylabel {
        float: left;
        padding: 1rem;
        font-size: 1.4rem; }
      .recommendcontent ul .buynumsli .buynuminput {
        float: left;
        width: 10rem;
        height: 60%;
        line-height: 60%;
        margin-top: 0.8rem;
        border: 1.5px solid #ddd; }
        .recommendcontent ul .buynumsli .buynuminput .reduce {
          display: inline-block;
          width: 3rem; }
        .recommendcontent ul .buynumsli .buynuminput .itnums {
          width: 4rem;
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd; }
        .recommendcontent ul .buynumsli .buynuminput .add {
          display: inline-block;
          width: 3rem; }

/*# sourceMappingURL=style.css.map */
