@charset "UTF-8";

.out-appearance {
  background-color: #fff;
  border-radius: 1rem;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 6px #eee;
  box-shadow: 0 0 6px #ddd;
}

#userInfo {
  position: relative;
  top: 65px;
  margin: auto 1rem;
  .info-header {
    overflow: hidden;
    @extend .out-appearance;
    .touxiang {
      width: 10rem;
      height: 9.5rem;
      padding: 5px 10px 5px 12px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      img {
        position: absolute;
        width: 8.5rem;
        height: auto;
      }
    }
    .detail-info {
      margin-left: 0.8rem;
      margin-top: 3px;
      height: 9.5rem;
      li {
        font-size: 1.2rem;
        font-family: "Macrosoft YaHei";
        height: 20%;
        line-height: 1.8rem;
      }
      li:first-child {
        color: peru;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
  .info-select {
    @extend .out-appearance;
    margin-top: 0.8rem;
    li {
      min-height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-size: 1.8rem;
      font-family: "Macrosoft YaHei";
      font-weight: 500;
      color: rgba(29,29,29,0.6);
      padding: 8px 2.5rem 8px 8px ;
      border-bottom: 1.2px solid rgba(29,29,29,0.1);
      margin-right: 1rem;
      img {
        float: right;
        width: 2rem;
        margin-top: 9px;
        margin-right: -24px;
      }
    }
    li:last-child {
      border: none;
    }
  }
}

.btn-gradient-color {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1aa818),color-stop(100%,#00b500));
    background: -webkit-linear-gradient(top,#1aa818 0,#00b500 100%);
    background: linear-gradient(to bottom,#1aa818 0,#00b500 100%);
}

.address-manager {
  position: relative;
  top: 65px;
  margin: 0 1rem;
  height: 200px;
  .create-addr {
    @extend .out-appearance;
    padding: 1rem 0.8rem;
    li {
      min-height: 3rem;
      margin-bottom: 0.9rem;
      input {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #ccc;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 0.3rem;
        text-align: left;
      }
      input::-webkit-input-placeholder {
        color: gray;
      }
      input[type='button'] {
        @extend .btn-gradient-color;
        color: white;
        font-size: 1.6rem;
      }
    }
    li:last-child {
      margin-bottom: 0;
    }
    .add-zone {
      select {
        width: 30%;
        padding: 0.8rem;
        border: 1px solid #ccc;
      }
    }
  }
  .addr-info {
    margin-top: 1rem;
    background-color: #fff;
    li {
      border: 1px solid #eee;
      margin-bottom: 0.8rem;
      .info-box {
        padding: 1.2rem;
        border-bottom: 1px solid #eee;
        font-size: 1.5rem;
        .name-info {
          margin-bottom: 2px;
        }
      }
      .add-control {
        overflow: hidden;
        div {
          float: left;
          width: 50%;
          text-align: center;
          padding: 8px 0;
          font-size: 1.3rem;
          img {
            width: 1.2rem;
            height: auto;
            position: relative;
            top: 2px;
            left: 2px;
          }
        }
        .bianji {
          background: url("../../images/edit.png");
          background-size: contain;
          border-right: 1px solid #eee;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }
      }
    }
  }
}